<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">

    <th:block layout:fragment="rows">
        <form  id="addShelterForm" method="POST" th:action="'/shelters/add'" enctype="multipart/form-data">

            <table class="table">

                <div class="caption">
                    <input  name="name" placeholder="Название" id="id_shelter_name" />
                </div>					

                <div class="caption">
                    <input  type="tel" pattern="[0-9]*" title="Номер телефон" name="telephone" placeholder="Номер телефона" id="id_shelter_phone" />
                </div>	
                <div class="caption">
                    <input  name="address" placeholder="Адрес" id="id_shelter_address" />

                </div>	
                <div class="caption">
                    <input  name="seat" type="number" min="0" placeholder="Количество мест"  id="id_shelter_seat"/>
                </div>	
                <div class="caption">
                    <input  name="free_seat" type="number" min="0" placeholder="Свободных мест"  id="id_shelter_free_seat"/>
                </div>	
                <div class="caption">
                    <input  type="url" name="site" placeholder="Сайт"  />
                </div>	
                <div class="caption">
                    <input  type="email" name="email" placeholder="Почта"  />
                </div>	

                <span class="btn btn-default btn-file">
                    Вставить картинку <input type="file" name="file"/>
                </span>
                <div class="span6">
                    <textarea class="field span12" id="textarea" rows="6" name="description" placeholder="Описание"></textarea>
                </div>
            </table>
            <button   type="submit" class="btn btn-primary">Добавить</button> 
            <button type="reset" class="btn btn-default">Очистить поля</button> 
        </form>

        <br/><br/>

        <br/> 


        <br/><br/><br/>

        <tbody>
            <tr th:each="shelter : ${shelters}">

                <div class="col-sm-6 col-md-4">
                    <form class="getRidOfIt" method="GET" th:action="@{'/shelters/' + ${shelter.pk_shelter}}">
                        <button class="btn btn-info btn-xs">Подробнее</button> 
                    </form>
                    <div class="thumbnail" >
                        <img class="img-responsive" height="300" width="300" th:src="@{'/img/shelters/' + ${shelter.pk_shelter} + '.jpg'}"  />
                        <div class="caption">

                            <center><h4>Название: <strong><span th:text="${shelter.name}"></span></strong></h4></center>
                            <center><h6>Номер телефона: <span th:text="${shelter.telephone}"></span></h6></center>
                            <center><h6>Адрес: <span th:text="${shelter.address}"></span></h6></center>
                            <center><h6>Количество мест: <span th:text="${shelter.seat}"></span></h6></center>
                            <center><h6>Свободных мест: <span th:text="${shelter.free_seat}"></span></h6></center>
                            <center><h6>Сайт: <span th:text="${shelter.site}"></span></h6></center>
                            <center><h6>Почта: <span th:text="${shelter.email}"></span></h6></center>
                            <center><h6>Описание: <span th:text="${shelter.description}"></span></h6></center>

                        </div>
                    </div>
                </div>

            </tr>
        </tbody>

    </th:block>



</html>
<script>
    document.title = "Приюты";
</script>
<script src="/shelter_checkempty.js"></script>